.DS_Store

# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# Optional: fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output





